*.pyc
*.html
scripts/*.txt
notebooks/.ipynb_checkpoints/
.DS_store
*.pgnet
data/processed/*.csv
data/training
data/testing
data/validation
data/raw/Building_Blocks_US.sdf
data/raw/prohibited_chemicals.json
data/processed/chemical_building_blocks.txt
data/processed/biological_building_blocks.txt
results/
